.main {
    grid-area: main;
}

.ProductList {
    list-style-type: none;
}

.product-element {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.cart-button {
    position: absolute;
    right: 0;
    top: 101px;
}

.popup-add {
    display: flex;
    position: absolute;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.25);
    justify-content: center;
    align-items: center;
    right: 2px;
}

.popup-add-content {
    background-color: grey;
    color: white;
    //position: absolute;
    padding: 20px;
    border-radius: 5px;
    border: 2px solid black;
    overflow: auto;
}


/*
.product-element {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat((2, auto));

    li {
        list-style-type: none;
    }
}
*/




