.ProductList {
    list-style-type: none;
}

.product-element {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat((2, auto));

    li {
        list-style-type: none;
    }
}




