.main {
    grid-area: main;
}

.ProductList {
    list-style-type: none;
}

.product-element {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product-object {
    background-color: rgb(240, 240, 240);
    box-shadow: 10px 9px 12px 1px rgba(170, 170, 170, 0.65);
    border-radius: 2%;
    padding-right: 10px;
    padding-left: 10px;
    margin-left: 0px;
    list-style-type: none;
}

.popup-add {
    display: flex;
    position: absolute;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.25);
    justify-content: center;
    align-items: center;
    right: 2px;
}

.popup-add-content {
    background-color: grey;
    color: white;
    //position: absolute;
    padding: 20px;
    border-radius: 5px;
    border: 2px solid black;
    overflow: auto;
}

/* Shoppin Cart Section */
.cart-element {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cart-items-list {
    list-style-type: none;
}
.cart-total-value {
    align-items: center;
}
